ClownFish/Service References/ServiceReference1/GameServer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/GameServer?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GameServerInterfaces" />
  <xs:import schemaLocation="http://localhost:8090/GameServer?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GameServerInterfaces.Enums" />
  <xs:import schemaLocation="http://localhost:8090/GameServer?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetGames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GameServerInterfaces" minOccurs="0" name="GetGamesResult" nillable="true" type="q1:ArrayOfChessGameDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GameServerInterfaces.Enums" minOccurs="0" name="ownColorEnum" type="q2:ColorEnum" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="startTimePerPlayer" type="q3:duration" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="extraTimePerMove" type="q4:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GameServerInterfaces" minOccurs="0" name="CreateGameResult" nillable="true" type="q5:ChessGameDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JoinGameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameID" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GameServerInterfaces" minOccurs="0" name="moveDTO" nillable="true" type="q6:GameMoveDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeMoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MakeMoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameStateChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GameServerInterfaces" minOccurs="0" name="latestMove" nillable="true" type="q7:GameMoveDTO" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GameServerInterfaces" minOccurs="0" name="gameState" nillable="true" type="q8:ChessGameDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameStateChangedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>